{% extends "base.html" %} {% load static %} {% block title %}Académie de Danse 4 Temps{% endblock %} {% block home_active %}class="active"{% endblock %} {% block content %}
<section class="py-4">
  <!--Section heading-->
  <h1 class="text-center display-5 py-5">Éthique</h1>
  <!--Section description-->
  <p class="px-5 mb-5 lead text-center">
    Le pôle Structuration définit l’identité de la discipline et son fonctionnement fédéral.
  </p>

<div class="row">
  <div class="col-3">
    <div class="card h-100">
      <a href="https://drive.google.com/open?id=1ODowajTSbh2gGG-chWMq11O5tkl41KpS"><img class="card-img-top" src="{% static "/img/cards/pdf.png"%}" alt="Card image cap"></a>
      <div class="card-body text-center">
        <p class="h4 card-title">Charte des professeurs</p>
        <p class="card-description">Charte déontologique pour les clubs</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card h-100">
      <a href="https://drive.google.com/open?id=16H9dIMu9ECzYap2_Gj8atcvntW6RhWNs"><img class="card-img-top" src="{% static "/img/cards/pdf.png"%}" alt="Card image cap"></a>
      <div class="card-body text-center">
        <p class="h4 card-title">Réagir aux agressions</p>
        <p class="card-description">Vous êtes pratiquant</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card h-100">
      <a href="https://drive.google.com/open?id=1Ky9jffIgj_riJ1KfpWRAP4_bSX6oQiOa"><img class="card-img-top" src="{% static "/img/cards/pdf.png"%}" alt="Card image cap"></a>
      <div class="card-body text-center">
        <p class="h4 card-title">Réagir aux agressions</p>
        <p class="card-description">Vous êtes professeur ou organisateur d'événement</p>
      </div>
    </div>
  </div>
</div>
<hr/>
<p class="mt-5">
  N'oubliez pas que ces documents sont réservés aux adhérents. Merci de ne pas les diffuser sans autorisation.
</p>

</section>

{% endblock %}
