{% extends "base.html" %}
{% load static %}
{% block title %}Académie de Danse 4 Temps{% endblock %}
{% block home_active %}class="active"{% endblock %}
{% block content %}
<section class="py-5">
  <!--Section heading-->
  <h1 class="text-center display-4 py-5 mt-5">Développons la Danse 4 Temps !</h1>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead text-center">
     Au sein de l'Académie de Danse 4 Temps (AD4T), nous organisons la Danse 4 Temps en tant que pratique sportive, artistique et sociale. Nous soutenons tous les acteurs du milieu dans le développement de leurs activités.
  </p>
  <p class="pt-5 text-center">
    <em>L'Assemblée Générale 2018 aura lieu le dimanche 14 octobre à 14h. Toutes les informations sur notre <a href="https://www.facebook.com/academie4temps/">Facebook</a>.</em>
  </p>

</section>
</div>

<div class="jarallax" data-jarallax='{"speed": 0.8}' style="background-image: url(http://localhost:8000/static/img/party.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center; min-height: 100px;">
<div class="mask rgba-red-strong">
    <div class="container-fluid py-4 align-items-center justify-content-center text-white">
      <div class="row mt-5 mb-2">
        <div class="col-md-4 offset-md-6">
          <h1> La Danse 4 Temps </h1>
          <p>La Danse 4 Temps est une danse de couple. Elle est connue sous diverses appellations : c'est le "rock 4 temps", le "rock moderne", le "rock étudiant".</p>
          <p>Toutes ces variantes sont représentées au sein de l'AD4T ; elles partagent notamment une technique de connexion similaire.</p>
          <p>La Danse 4 Temps est une discipline jeune et pleine de promesses, qui a dépassé ses racines swing pour se forger une identité propre.</p>
          <p class="text-center"><a class="btn" href="/about#ad4t">Découvrir</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
<section class="my-5">
    <!--Section heading-->
    <h1 class="display-4 text-center py-5">
        Quelques-unes de nos réalisations
    </h1>
    <!--Grid row-->
    <div class="row text-center">

        <!--Grid column-->
        <div class="col-lg-3 col-md-12 mb-4">

            <!--Featured image-->
            <div class="view overlay rounded z-depth-1">
                <img src="{% static 'img/poles/communication.png' %}" class="img-fluid" alt="Sample project image">
                <div class="mask rgba-white-slight"></div>
            </div>

            <!--Excerpt-->
            <div class="card-body mt-3">
                <h4>
                    <strong>Juillet 2017</strong>
                </h4>
                <p>Reconnaissance de la Danse 4 Temps par la Fédération Française de Danse
                </p>
            </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">

            <!--Featured image-->
            <div class="view overlay rounded z-depth-1">
                <img src="{% static 'img/poles/ethique.png' %}" class="img-fluid" alt="Sample project image">
                <div class="mask rgba-white-slight"></div>
            </div>

            <!--Excerpt-->
            <div class="card-body mt-3">
                <h4>
                    <strong>Avril 2018</strong>
                </h4>
                <p>Charte déontologique des professeurs de Danse 4 Temps
                </p>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-1">
                <img src="{% static 'img/poles/structuration.png' %}" class="img-fluid" alt="Sample project image">
                <div class="mask rgba-white-slight"></div>
            </div>
            <!--Excerpt-->
            <div class="card-body mt-3">
                <h4><strong>Juin 2018</strong></h4>
                <p>Caractérisation de la Danse 4 Temps et de ses notions techniques</p>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-1">
                <img src="{% static 'img/poles/passes.png' %}" class="img-fluid" alt="Sample project image">
                <div class="mask rgba-white-slight"></div>
            </div>
            <!--Excerpt-->
            <div class="card-body mt-3">
                <h4><strong>Juillet 2018</strong></h4>
                <p>Définition de la notion de passe et début de constitution du corpus</p>
            </div>
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->

    <p class="text-center"><a class="btn btn-red" href="/projects">Nos projets</a></p>
  </section>
  </div>

  <div class="jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(http://localhost:8000/static/img/meeting.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center; min-height: 100px;">
    <div class="mask rgba-red-strong">
      <div class="container-fluid py-4 align-items-center justify-content-center text-white">
        <div class="row mt-5 mb-2">
          <div class="col-md-8 offset-md-2">
            <h1> L'Académie de Danse 4 Temps</h1>
            <div class="row">
              <div class="col-md-6">
                <p>L'Académie est organisée autour de neuf pôles ayant pour mission de développer la Danse 4 Temps.
                  Chaque pôle est représenté au Conseil d'Administration, qui se réunit tous les mois.
                  Les représentants de pôles sont élus parmi les membres de l'AD4T.
                </p>

                <p class="text-center">
                  <a class="btn" href="/about#d4t">En savoir plus</a>
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

  <!--Grid row-->

<section>
  <div class="row text-center my-5">
      <!--Grid column-->
      <div class="col">
        <div class="text-center">
          <!--Title-->
          <h1 class="card-title h2-responsive font-bold"><strong>Rejoignez-nous !</strong></h1>
          <!--Text-->
          <div class="justify-content-center">
            <div class="row">
              <div class="col-6">
                <p class="card-text my-2" style="max-width: 43rem;">
                  <strong>Soutenez notre action</strong> </br>
                  Votre adhésion nous aide réellement à grandir. Votre cotisation nous permet de payer l’hébergement du site et donne du poids à nos actions vis-à-vis de la Fédération Française de Danse.
                </p>
              </div>
              <div class="col-6">
                <p class="card-text my-2" style="max-width: 43rem;">
                  <strong>Exprimez-vous</strong> </br>
                  Rejoignez une communauté de passionnés et participez activement à l'un de nos projets : corpus de passes, annuaire des clubs, définition, structuration, publication de guides…
                </p>
              </div>
            </div>
          </div>
        </div>
        <p class="text-center mt-3">
          <a class="btn btn-red" href="/login/subscribe">Adhérer</a>
        </p>
      </div>
    </div>
  </div>
</section>



{% endblock %}
