{% extends "base.html" %}
{% load static %}
{% block title %}Académie de Danse 4 Temps{% endblock %}
{% block home_active %}class="active"{% endblock %}
{% block content %}
  
<section>

  <!--Section heading-->
  <h2 class="text-center h1 py-5">Académie de Danse 4 Temps</h2>
    <!--Section description-->
  <p class="text-center mb-5">Développons la Danse 4 Temps</p>


<!--Section: Blog v.2-->
<section class="text-center py-4">

    <!--Section heading-->
    <h1 class="h2 text-center mb-5 pt-4">Nos projets pour 2018</h1>
    <!--Section description-->
    <p class="text-center mb-5 pb-3 lead">
    	Voici quelques-uns de nos projets pour 2018 ; tout danseur 4 Temps peut y contribuer, quelques soient ses compétences. Nous accordons beaucoup d'importance à la représentation des différentes variantes dans nos échanges.
    </p>

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-2 mb-2">
                <img src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg" class="img-fluid" alt="First sample image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Excerpt-->
            <a href="" class="pink-text">
                <h4 class="mb-3 mt-4 small">
                    <i class="fa fa-map "></i>
                    <strong> Structuration</strong>
                </h4>
            </a>
            <h3 class="mb-3 font-weight-bold dark-grey-text">
                <strong>Définitions</strong>
            </h3>
            <p class="grey-text">Nous proposons une définition de notre danse prenant en compte les différentes variantes. Cette réflexion repose sur la précision d'un vocabulaire tecnhique, qui constitue la base de nos échanges.</p>
            <!-- <a class="btn btn-pink btn-rounded btn-md">Read more</a> -->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-2 mb-2">
                <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" class="img-fluid" alt="Second sample image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Excerpt-->
            <a href="" class="deep-orange-text">
                <h4 class="mb-3 mt-4 small">
                    <i class="fa fa-graduation-cap"></i>
                    <strong>Passes</strong>
                </h4>
            </a>
            <h3 class="mb-3 font-weight-bold dark-grey-text">
                <strong>Corpus de passes</strong>
            </h3>
            <p class="grey-text">Nous proposons un système de classification et de description des passes de Danse 4 Temps. Sa robustesse sera éprouvée lors de l'élaboration d'un corpus de 100 passes à destination des débutants.</p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-2 mb-2">
                <img src="https://mdbootstrap.com/img/Photos/Others/images/13.jpg" class="img-fluid" alt="Thrid sample image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Excerpt-->
            <a href="" class="cyan-text">
                <h4 class="mb-3 mt-4 small">
                    <i class="fa fa-fire "></i>
                    <strong> Communications</strong>
                </h4>
            </a>
            <h3 class="mb-3 font-weight-bold dark-grey-text">
                <strong>Annuaire des clubs</strong>
            </h3>
            <p class="grey-text">Ayez toujours un endroit où danser, où que vous soyez ! Nous avons recensé la majorité des clubs et écoles de Danse 4 Temps de Belgique, de France et de Suisse. <br/>Cet annuaire est réservé à nos adhérents.</p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-2 mb-2">
                <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" class="img-fluid" alt="Second sample image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Excerpt-->
            <a href="" class="deep-orange-text">
                <h4 class="mb-3 mt-4 small">
                    <i class="fa fa-graduation-cap"></i>
                    <strong>Éthique</strong>
                </h4>
            </a>
            <h3 class="mb-3 font-weight-bold dark-grey-text">
                <strong>Chartes déontologiques</strong>
            </h3>
            <p class="grey-text">Nous souhaitons doter la Danse 4 Temps d'un esprit sportif, respectueux de chacun. Nous travaillons sur les questions : qu'est-ce qu'un danseur éthique ? quels sont les devoirs d'un juge ? d'un professeur de Danse 4 Temps ?</p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-2 mb-2">
                <img src="https://mdbootstrap.com/img/Photos/Others/images/13.jpg" class="img-fluid" alt="Thrid sample image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Excerpt-->
            <a href="" class="cyan-text">
                <h4 class="mb-3 mt-4 small">
                    <i class="fa fa-fire "></i>
                    <strong> Ressources</strong>
                </h4>
            </a>
            <h3 class="mb-3 font-weight-bold dark-grey-text">
                <strong>Playlists</strong>
            </h3>
            <p class="grey-text">Nos suggestions de musiques ont pour ambition de montrer toute la diversité musicale soutenant la Danse 4 Temps. Nous proposons des playlists thématiques pour les cours et des playlists généralistes pour les soirées.</p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-2 mb-2">
                <img src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg" class="img-fluid" alt="First sample image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Excerpt-->
            <a href="" class="pink-text">
                <h4 class="mb-3 mt-4 small">
                    <i class="fa fa-map "></i>
                    <strong> Structuration</strong>
                </h4>
            </a>
            <h3 class="mb-3 font-weight-bold dark-grey-text">
                <strong>Structuration fédérale</strong>
            </h3>
            <p class="grey-text">Nous souhaitons valoriser l'expérience en certifiant les professeurs et les juges de Danse 4 Temps. Cela encouragera les futurs enseignants et juges à se former, ce qui augmentera le niveau global des pratiquants.</p>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Blog v.2-->


<!--Section: Blog v.2-->
<section class="text-center py-4 pink">

    <!--Section heading-->
    <h1 class="h2 text-center mb-5 pt-4">Rejoindre l'AD4T</h1>
    <!--Section description-->
    <div class="row">
    	<div class="col-6">
		    <p class="text-center mb-5 pb-3 lead">
		    	Cotiser
		    </p>
    	</div>
    	<div class="col-6">
			<p class="text-center mb-5 pb-3 lead">
		    	Participer
		    </p>
    	</div>
    </div>
</section>

{% endblock %}
