{% extends "base.html" %}
{% load static %}
{% block title %}Académie de Danse 4 Temps{% endblock %}
{% block home_active %}class="active"{% endblock %}
{% block content %}
<section>
  <!--Section heading-->
  <h2 class="text-center h1 py-5">Nous œuvrons pour développer la Danse 4 Temps</h2>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead text-center">
     L'Académie de Danse 4 Temps organise la Danse 4 Temps en tant que pratique sportive et soutient tous les acteurs du milieu dans le développement de leurs activités.
  </p>

  <!--Grid row-->
  <div class="row pt-2">

  <!--Grid column-->
  <div class="col-lg-5 text-center text-lg-left">
      <img src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="" class="img-fluid z-depth-0">
  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-lg-7">

      <!--Grid row-->
      <div class="row pb-3">
      <div class="col-2 col-md-1">
          <i class="fa fa-mail-forward fa-lg orange-text"></i>
      </div>
      <div class="col-10">
          <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Safety</h5>
          <p class="grey-text text-left">

          </p>
      </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row pb-3">
      <div class="col-2 col-md-1">
          <i class="fa fa-mail-forward fa-lg orange-text"></i>
      </div>
      <div class="col-10">
          <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Technology</h5>
          <p class="grey-text text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
          deleniti hic.</p>
      </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row pb-3">
      <div class="col-2 col-md-1">
          <i class="fa fa-mail-forward fa-lg orange-text"></i>
      </div>
      <div class="col-10">
          <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Finance</h5>
          <p class="grey-text text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
          deleniti hic.</p>
      </div>
      </div>
      <!--Grid row-->

  </div>
  <!--Grid column-->

  </div>
  <!--Grid row-->

</section>

<section class="sticky-top">
  <a href="#">
    <div class="jumbotron text-center mdb-color lighten-2 white-text z-depth-2 red darken-4">
      <!--Title-->
      <h1 class="card-title h2-responsive font-bold"><strong>Rejoignez-nous !</strong></h1>
      <!--Text-->
      <div class="justify-content-center">
        <div class="row">
          <div class="col-6">
            <p class="card-text my-2" style="max-width: 43rem;">
              <strong>Soutenez notre action</strong> </br>
              Votre adhésion nous aide réellement à grandir. Votre cotisation nous permet de payer l’hébergement du site et donne du poids à nos actions vis-à-vis de la Fédération Française de Danse.
            </p>
          </div>
          <div class="col-6">
            <p class="card-text my-2" style="max-width: 43rem;">
              <strong>Exprimez-vous</strong> </br>
              Rejoignez une communauté de passionnés et participez activement à l'un de nos projets : corpus de passes, annuaire des clubs, définition, structuration, publication de guides…
            </p>
          </div>
        </div>
      </div>
    </div>
  </a>
</section>

<section>

    <!--Section heading-->
    <h2 class="text-center py-5">
        <strong>Quelques-uns de nos accomplissements</strong>
    </h2>
    <!--Grid row-->
    <div class="row text-center">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

            <!--Featured image-->
            <div class="view overlay rounded z-depth-1">
                <img src="https://mdbootstrap.com/img/Photos/Others/images/58.jpg" class="img-fluid" alt="Sample project image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-body mt-3">
                <h4>
                    <strong>Juillet 2017</strong>
                </h4>
                <p class="grey-text">Reconnaissance de la Danse 4 Temps par la Fédération Française de Danse
                </p>
            </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

            <!--Featured image-->
            <div class="view overlay rounded z-depth-1">
                <img src="https://mdbootstrap.com/img/Photos/Others/project4.jpg" class="img-fluid" alt="Sample project image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-body mt-3">
                <h4>
                    <strong>Novembre 2017</strong>
                </h4>
                <p class="grey-text">Sondages des pratiquants et publication du premier guide
                </p>
            </div>

            <a class="btn btn-indigo">
              <i class="fa fa-clone left"></i> En savoir plus</a>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

            <!--Featured image-->
            <div class="view overlay rounded z-depth-1">
                <img src="https://mdbootstrap.com/img/Photos/Others/images/88.jpg" class="img-fluid" alt="Sample project image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-body mt-3">
                <h4>
                    <strong>Avril 2018</strong>
                </h4>
                <p class="grey-text">Caractérisation de plusieurs notions et création du site internet de l'AD4T
                </p>
            </div>

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>

{% endblock %}
