{% extends "base.html" %}
{% load static %}
{% block title %}Académie de Danse 4 Temps{% endblock %}
{% block home_active %}class="active"{% endblock %}
{% block content %}
<section class="py-4 text-center">
  <!--Section heading-->
  <h1 class="text-center display-5 py-5">Découvrez nos projets</h1>
  <!--Section description-->
  <p class="px-5 lead text-center pb-4">
     Au sein de l'Académie de Danse 4 Temps (AD4T), nous organisons la Danse 4 Temps en tant que pratique sportive, artistique et sociale grâce aux projets des pôles.
  </p>
  <img src="{% static 'img/projet.jpg'%}" alt="Sample project image" class="img-fluid rounded z-depth-1 center-block" width="70%">
</section>

<hr/>

<section class="mb-5">

  <div class="row">
    <div class="col-lg-3 offset-lg-1 mb-lg-0 mb-5">
      <img src="{% static 'img/poles/ethique.png'%}" alt="Sample project image" class="img-fluid rounded z-depth-1">
    </div>

    <div class="col-lg-7">
      <h3 class="text-center font-weight-bold deep-purple-text">Éthique</h3>

      <div class="row">
        <div class="col-md-1 col-2">
          <i class="fa fa-book fa-2x deep-purple-text"></i>
        </div>
        <div class="col-md-11 col-10">
          <p>Le pôle Éthique a pour vocation de %%TODO%%</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1 col-2">
          <i class="fa fa-code fa-2x deep-purple-text"></i>
        </div>
        <div class="col-md-11 col-10">
          <p>Il travaille aux projets suivants :</p>
          <ul>
            <li>Charte déontologique des professeurs et juges</li>
            <li>Danseur éthique</li>
            <li>Arbitrage de conflits</li>
            <li>Charte de l'association</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <hr class="my-5">

  <div class="row">
    <div class="col-lg-7 offset-lg-1">
      <h3 class="text-center font-weight-bold cyan-text">Passes</h3>

      <div class="row">
        <div class="col-md-1 col-2">
          <i class="fa fa-book fa-2x cyan-text"></i>
        </div>
        <div class="col-md-11 col-10">
          <p>Le pôle Passes a pour vocation de recenser et classer les passes de Danse 4 Temps.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1 col-2">
          <i class="fa fa-code fa-2x cyan-text"></i>
        </div>
        <div class="col-md-11 col-10">
          <p>Il travaille aux projets suivants :</p>
          <ul>
            <li>Système de classification</li>
            <li>Nomenclature</li>
            <li>Définition des notions</li>
            <li>Corpus de passes</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <img src="{% static 'img/poles/passes.png'%}" alt="Sample project image" class="img-fluid rounded z-depth-1">
    </div>
  </div>

    <hr class="my-5">

    <div class="row">
      <div class="col-lg-3 offset-lg-1 mb-lg-0 mb-5">
        <img src="{% static 'img/poles/ressources.png'%}" alt="Sample project image" class="img-fluid rounded z-depth-1">
      </div>

      <div class="col-lg-7">
        <h3 class="text-center font-weight-bold deep-orange-text">Ressources</h3>

        <div class="row">
          <div class="col-md-1 col-2">
            <i class="fa fa-book fa-2x deep-orange-text"></i>
          </div>
          <div class="col-md-11 col-10">
            <p>Le pôle Structuration a pour vocation de définir l’identité sportive et le fonctionnement fédéral de la discipline​.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-1 col-2">
            <i class="fa fa-code fa-2x deep-orange-text"></i>
          </div>
          <div class="col-md-11 col-10">
            <p>Il travaille aux projets suivants :</p>
            <ul>
              <li>Définition de la Danse 4 Temps</li>
              <li>Système de niveaux des danseurs</li>
              <li>Certification professorale</li>
              <li>Certification du corps arbitral</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <hr class="my-5">

    <div class="row">
      <div class="col-lg-7 offset-lg-1">
        <h3 class="text-center font-weight-bold indigo-text">Structuration</h3>

        <div class="row">
          <div class="col-md-1 col-2">
            <i class="fa fa-book fa-2x indigo-text"></i>
          </div>
          <div class="col-md-11 col-10">
            <p>Le pôle Structuration a pour vocation de définir l’identité sportive et le fonctionnement fédéral de la discipline​.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-1 col-2">
            <i class="fa fa-code fa-2x red-text"></i>
          </div>
          <div class="col-md-11 col-10">
            <p>Il travaille aux projets suivants :</p>
            <ul>
              <li>Définition de la Danse 4 Temps</li>
              <li>Système de niveaux des danseurs</li>
              <li>Certification professorale</li>
              <li>Certification du corps arbitral</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <img src="{% static 'img/poles/structuration.png'%}" alt="Sample project image" class="img-fluid rounded z-depth-1">
      </div>
    </div>

      <hr class="my-5">
      <div class="row">
        <div class="col-lg-3 offset-lg-1 mb-lg-0 mb-5">
          <img src="{% static 'img/poles/communication.png'%}" alt="Sample project image" class="img-fluid rounded z-depth-1">
        </div>

        <div class="col-lg-7">
          <h3 class="text-center font-weight-bold pink-text">Communication</h3>

          <div class="row">
            <div class="col-md-1 col-2">
              <i class="fa fa-book fa-2x pink-text"></i>
            </div>
            <div class="col-md-11 col-10">
              <p>Le pôle Structuration a pour vocation de définir l’identité sportive et le fonctionnement fédéral de la discipline​.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-1 col-2">
              <i class="fa fa-code fa-2x pink-text"></i>
            </div>
            <div class="col-md-11 col-10">
              <p>Il travaille aux projets suivants :</p>
              <ul>
                <li>Définition de la Danse 4 Temps</li>
                <li>Système de niveaux des danseurs</li>
                <li>Certification professorale</li>
                <li>Certification du corps arbitral</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <hr class="my-5">

      <div class="row">
        <div class="col-lg-7 offset-lg-1">
          <h3 class="text-center font-weight-bold light-green-text">Site Web</h3>

          <div class="row">
            <div class="col-md-1 col-2">
              <i class="fa fa-book fa-2x light-green-text"></i>
            </div>
            <div class="col-md-11 col-10">
              <p>Le pôle Structuration a pour vocation de définir l’identité sportive et le fonctionnement fédéral de la discipline​.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-1 col-2">
              <i class="fa fa-code fa-2x light-green-text"></i>
            </div>
            <div class="col-md-11 col-10">
              <p>Il travaille aux projets suivants :</p>
              <ul>
                <li>Définition de la Danse 4 Temps</li>
                <li>Système de niveaux des danseurs</li>
                <li>Certification professorale</li>
                <li>Certification du corps arbitral</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <img src="{% static 'img/poles/site.png'%}" alt="Sample project image" class="img-fluid rounded z-depth-1">
        </div>
      </div>

        <hr class="my-5">
        <div class="row">
          <div class="col-lg-3 offset-lg-1 mb-lg-0 mb-5">
            <img src="{% static 'img/poles/secretariat.png'%}" alt="Sample project image" class="img-fluid rounded z-depth-1">
          </div>

          <div class="col-lg-7">
            <h3 class="text-center font-weight-bold red-text">Secrétariat</h3>

            <div class="row">
              <div class="col-md-11 col-10 offset-md-1">
                <p>Le pôle Secrétariat %%TODO</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-11 col-10 offset-md-1">
                <p>Il porte les projets suivants :</p>
                <ul>
                  <li>.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <hr class="my-5">

        <div class="row">
          <div class="col-lg-7 offset-lg-1">
            <h3 class="text-center font-weight-bold purple-text">Gestion</h3>

            <div class="row">
              <div class="col-md-11 col-10 offset-md-1">
                <p>Le pôle Gestion veille au bon fonctionnement des pôles.</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-11 col-10 offset-md-1">
                <p>Il travaille sur les projets suivants :</p>
                <ul>
                  <li>Gestion des outils collaboratifs</li>
                  <li>Conception de modèles de documents et de slides</li>
                  <li>Coordination des actions des pôles</li>
                  <li>Suivi des projets et des deadlines</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <img src="{% static 'img/poles/gestion.png'%}" alt="Sample project image" class="img-fluid rounded z-depth-1">
          </div>
        </div>

          <hr class="my-5">
          <div class="row">
            <div class="col-lg-3 offset-lg-1 mb-lg-0 mb-5">
              <img src="{% static 'img/poles/tresorerie.png'%}" alt="Sample project image" class="img-fluid rounded z-depth-1">
            </div>

            <div class="col-lg-7">
              <h3 class="text-center font-weight-bold amber-text">Trésorerie</h3>
              <div class="row">
                <div class="col-md-11 col-10 offset-md-1">
                  <p>Le pôle Trésorerie gère les finances de l'association.</p>
                </div>
              </div>
            </div>
          </div>

</section>

{% endblock %}
