*.pyc
AD4T/__pycache__
AD4T/migrations
contact/__pycache__
contact/migrations
home/__pycache__
home/migrations
blog/__pycache__
blog/migrations
login/__pycache__
login/migrations
passes/__pycache__
passes/migrations
ressources/__pycache__
ressources/migrations
member/__pycache__
member/migrations
db.sqlite3
