{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Inscription{% endblock %}
{% block content %}
<section class="form-red py-4">
  <h1 class="text-center display-5 py-5">S'inscrire et adhérer</h1>
  {% if user.is_authenticated %}
    <p class="text-center mb-5">Vous êtes déjà connecté, {{ user.username }} !</p>

  {% else %}
  <div class="row">
    <div class="col text-center">
      <p>Ce formulaire vous permet de vous inscrire et d'adhérer à notre association. <br/>Vous aurez ainsi accès à de nombreux documents réservés à nos membres. <br/>Les frais d'adhésion sont fixés à 1€.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4 offset-4 text-center">
      <form method="post">
        {% csrf_token %}
        {{ form |crispy }}
        <button type="submit" class="btn btn-grey">S'inscrire</button>
      </form>
    </div>
  </div>
  {% endif %}
</section>
{% endblock %}
